In [1]:
import pandas as pd

In [4]:
df = pd.read_csv('retail-dataset.csv')

In [5]:
df = df.drop(df.columns[0],axis=1)

In [6]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom

In [9]:
df['totalPrice'] = df['Quantity'] * df['UnitPrice']

In [11]:
df.head()

,InvoiceNo,StockCode,Description,Quantity,InvoiceDate,UnitPrice,CustomerID,Country,totalPrice
0,536365,85123A,WHITE HANGING HEART T-LIGHT HOLDER,6,01-12-2010 08:26,2.55,17850.0,United Kingdom,15.30
1,536365,71053,WHITE METAL LANTERN,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34
2,536365,84406B,CREAM CUPID HEARTS COAT HANGER,8,01-12-2010 08:26,2.75,17850.0,United Kingdom,22.00
3,536365,84029G,KNITTED UNION FLAG HOT WATER BOTTLE,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34
4,536365,84029E,RED WOOLLY HOTTIE WHITE HEART.,6,01-12-2010 08:26,3.39,17850.0,United Kingdom,20.34

In [12]:
dfg = df[['Country','StockCode','Description','Quantity','totalPrice']]

In [15]:
dfg = dfg.groupby(by=['Country','StockCode','Description']).sum().reset_index()

In [16]:
dfg

,Country,StockCode,Description,Quantity,totalPrice
0,Australia,15036,ASSORTED COLOURS SILK FAN,600,432.00
1,Australia,15056BL,EDWARDIAN PARASOL BLACK,3,17.85
2,Australia,16161P,WRAP ENGLISH ROSE,400,136.00
3,Australia,16169E,WRAP 50'S CHRISTMAS,25,10.50
4,Australia,20665,RED RETROSPOT PURSE,6,17.70
...,...,...,...,...,...
20492,Unspecified,85180A,RED HEARTS LIGHT CHAIN,2,9.30
20493,Unspecified,85180B,PINK HEARTS LIGHT CHAIN,1,4.65
20494,Unspecified,85212,MINI PAINTED GARDEN DECORATION,12,3.48
20495,Unspecified,85213,MINI ZINC GARDEN DECORATIONS,12,3.48
20496,Unspecified,85227,SET OF 6 3D KIT CARDS FOR KIDS,10,8.50